<%= turbo_stream_from current_user, :transactions %>

<div class="p-4 space-y-4">
  <%= render "transactions/form", new_transaction: @new_transaction %>

  <div class="flex items-center gap-2">
    <p class="text-sm text-base-content/60">Want to import or export your transactions?</p>
    <%= link_to "Import/Export", import_export_transactions_path, class: "link link-primary text-sm" %>
  </div>

  <div id="transactions_list" class="flex flex-col gap-2">
    <%= render @transactions %>
  </div>
</div>