<%= turbo_stream_from current_user, :cashflow_detail %>

<div class="flex flex-col gap-4 mt-4">
  <div class="px-4">
    <%= render "transactions/cashflow_summary", user: current_user %>
  </div>

  <div class="px-4">
    <%= render "transactions/cashflow_detail", user: current_user %>
  </div>
</div>