<%= turbo_stream_from current_user, :cashflow_detail %>

<div class="d-flex flex-column">
  <div>
    <%= render "transactions/cashflow_summary", user: current_user %>
  </div>

  <div>
    <%= render "transactions/cashflow_detail", user: current_user %>
  </div>
</div>